@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@700);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

* {
  scrollbar-color: theme(colors.secondary) theme(colors.primary);
  scrollbar-width: thin;
}

html.dark {
  scrollbar-color: theme(colors.dk-secondary) theme(colors.dk-primary);
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Orbitron", sans-serif;
  color: theme(colors.dk-secondary)
}

p {
  color: theme(colors.text);
}

html,
body {
  overflow-x: hidden;
}

* {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important; 
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -ms-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
}

/**::selection {
  background-color: theme(colors.text) !important;
  color: theme(colors.primary) !important;
}*/

*::selection {
  background-color: theme(colors.bg-dark-main) !important;
  color: theme(colors.neon-green-secondary) !important;
}

/*html.dark *::selection {
  background-color: theme(colors.dk-text) !important;
  color: theme(colors.dk-primary) !important;
}
*/

html.dark *::selection {
  background-color: theme(colors.bg-dark-main) !important;
  color: theme(colors.neon-green-secondary) !important;
}