---
import Particles from "astro-particles"
import type { ISourceOptions } from "tsparticles-engine";

const options: ISourceOptions = {
    background: {
        color: "#000000"
    },
    fullScreen: {
        zIndex: -1
    },
    particles: {
        color: {
            value: "#ffffff"
        },
        number: {
            value: 100
        },
        move: {
            enable: true
        }
    }
};

import "../styles/global.css";

---

{/* <body class="">
    <div class="relative h-full w-full bg-slate-950">
        <div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]">
            <h1 class="text-sky-400"> New Heading </h1>
        </div>
    </div>
</body> */}

<body class="bg-[url('/gradient4.png')] bg-cover">
    <h1 class="text-light-green-400-accent">New Heading</h1>
</body>    
